.btn-primary { background: #F26D21 !important; border-color: #F26D21 !important; }

.bg-light-blue{ background-color: aliceblue; }

.btn-blue, .btn-blue:hover { background: #89CFF0; border-color: #89CFF0; }

.django-messages { width: 50%; left: 25%; }

.django-messages .cls-btn { margin-top: -4px; font-size: 19px; }
