{% extends 'base.html' %}


{% block app %}

    <div class="app bg-light-blue h-100vh">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mt-3">
                <img src="{{ static('images/tbslogo.png') }}" alt="TaxBandits Logo" class="mb-5 logo">
                <h1>Business Endpoints</h1>
            </div>

            <div class="col-md-4 col-lg-4 mt-4">
                <div>
                    <div class="shadow rounded p-4 bg-white card-box position-relative h-100">
                        <img class="top-eye-icon" src="{{ static('images/shape-4.png') }}" alt="TaxBandits">
                        <div class="text-center grediant-bg">
                            <img src="{{ static('images/create.png') }}" alt="Create Business" class="w-70px">
                        </div>
                        <h2 class="card-head text-center mb-0 mt-2">Create Business</h2>
                        <div class="d-flex align-items-center justify-content-center">
                            <p class="mt-2 mb-0 text-left">Business Endpoint allows you to Create Employers/Payers to add
                                the Business Information to the TaxBandits account. In response, TaxBandits will provide
                                BusinessId which is a unique identifier. You can provide the BusinessId alone in the future
                                form filing requests instead of sending the complete Business information again for each
                                return.
                            </p>
                        </div>
                        <div class="text-center mt-4">
                            <a href="{{ url('create-business') }}" class="btn btn-primary mx-2" id="btnCreateBusiness">Create Business</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 mt-4">
                <div>
                    <div class="shadow rounded p-4 bg-white position-relative card-box h-100">

                        <img class="top-eye-icon" src="{{ static('images/shape-4.png') }}" alt="TaxBandits">

                        <div class="text-center grediant-bg">
                            <img src="{{ static('images/sdk-list.png') }}" alt="Business List" class="w-70px">
                        </div>
                        <h2 class="card-head text-center mt-2 mb-0">List and Update Business</h2>
                        <div class="d-flex align-items-center justify-content-center">
                            <p class="mt-2 text-left mb-0">The List method lists all the Employers/Payers in the
                                TaxBandits account based on the date range (Date the Employer/Payer was created in
                                TaxBandits) provided in the Request. From the Businesses listed, you can select a particular
                                business and update Business information using the Update endpoint.</p>
                        </div>
                        <div class="text-center mt-4">
                            <a href="{{ url('list-business') }}" class="btn btn-primary mx-2" id="btnListBusiness">List & Update Business</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock app %}