@font-face {
    font-family: "Avenir LT Std";
    src: url(./fonts/AvenirLTStd-Light.woff2);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Avenir LT Std";
    src: url(./fonts/AvenirLTStd-Medium.woff2);
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Avenir LT Std";
    src: url(./fonts/AvenirLTStd-Black.woff2);
    font-display: swap;
    font-weight: 700;
}

.icon-black{
    color: black;
}

.dl-horizontal dt {
    white-space: normal;
}

.text-danger {
    color: #ff5252 !important;
  }

a {
    color: #006fd3;
    font-weight: normal;
}

.clear {
    clear: both; /*height: 1px;*/
}

.floatL {
    float: left;
}

.floatR {
    float: right !important;
}

.taL {
    text-align: left !important;
}

.taC {
    text-align: center !important;
}

.taR {
    text-align: right !important;
}

.taJ {
    text-align: justify;
}

.vaT {
    vertical-align: top;
}

.vaM {
    vertical-align: middle !important;
}

.vaB {
    vertical-align: bottom;
}

.mTopNo {
    margin-top: 0 !important;
}

.mTopMinus5 {
    margin-top: -5px;
}

.mTop0 {
    margin-top: 0px !important;
}

.mTop2 {
    margin-top: 2px;
}

.mTop3 {
    margin-top: 3px;
}

.mTop4 {
    margin-top: 4px;
}

.mTop5 {
    margin-top: 5px;
}

.mTop6 {
    margin-top: 6px;
}

.mTop7 {
    margin-top: 7px;
}

.mTop25 {
    margin-top: 25px !important;
}

.mTop35 {
    margin-top: 35px;
}

.mTop38 {
    margin-top: 38px;
}

.mTop10 {
    margin-top: 10px !important;
}

.mTop15 {
    margin-top: 15px;
}

.mTop20 {
    margin-top: 20px !important;
}

.mTop30 {
    margin-top: 30px !important;
}

.mBot0 {
    margin-bottom: 0px !important;
}

.mBot20 {
    margin-bottom: 20px !important;
}

.mBot25 {
    margin-bottom: 25px;
}

.mBot40 {
    margin-bottom: 40px;
}

.mBot5 {
    margin-bottom: 5px !important;
}

.mBot6 {
    margin-bottom: 6px;
}

.mBot10 {
    margin-bottom: 10px !important;
}

.mBot15 {
    margin-bottom: 15px !important;
}

.mBot45 {
    margin-bottom: 45px !important;
}

.mR6 {
    margin-right: 6px;
}

.mRight0 {
    margin-right: 0px !important;
}

.mRight3 {
    margin-right: 3px;
}

.mRight5 {
    margin-right: 5px;
}

.mRight9 {
    margin-right: 9px;
}

.mRight10 {
    margin-right: 10px !important;
}

.mRight14 {
    margin-right: 14px;
}

.mRight15 {
    margin-right: 15px !important;
}

.mRight17 {
    margin-right: 17px;
}

.mRight20 {
    margin-right: 20px;
}

.mRight30 {
    margin-right: 30px;
}

.mRight70 {
    margin-right: 70px;
}

.mRight300 {
    margin-right: 300px;
}

.mLeft0 {
    margin-left: 0px !important;
}

.mLeft3 {
    margin-left: 3px;
}

.mLeft5 {
    margin-left: 5px;
}

.mLeft10 {
    margin-left: 10px !important;
}

.mLeft12 {
    margin-left: 12px !important;
}


.mLeft20 {
    margin-left: 20px;
}

.mLeft25 {
    margin-left: 25px;
}

.mLeft35 {
    margin-left: 35px;
}

.mLeft45 {
    margin-left: 45px;
}

.mLeft55 {
    margin-left: 50%;
}

.mLight300 {
    margin-left: 300px;
}

.mLeft400 {
    margin-left: 400px;
}

.pLeft0 {
    padding-left: 0px !important;
}

.pLeft5 {
    padding-left: 5px;
}

.pLeft10 {
    padding-left: 10px;
}

.pLeft20 {
    padding-left: 20px;
}

.pLeft30 {
    padding-left: 30px;
}

.pLeft45 {
    padding-left: 45px;
}

.pLeft70 {
    padding-left: 70px;
}

.pLeft300 {
    padding-left: 300px;
}

.pLeft15 {
    padding-left: 15px;
}

.pRight0 {
    padding-right: 0px !important;
}

.pRight5 {
    padding-right: 5px !important;
}

.pRight3 {
    padding-right: 3px;
}

.pRight10 {
    padding-right: 10px;
}

.pRight20 {
    padding-right: 20px;
}

.pBot0 {
    padding-bottom: 0px !important;
}

.pBot5 {
    padding-bottom: 5px;
}

.pBot10 {
    padding-bottom: 10px;
}

.pBot15 {
    padding-bottom: 15px;
}

.pBot20 {
    padding-bottom: 20px;
}

.pTop3 {
    padding-top: 3px;
}

.pTop4 {
    padding-top: 4px;
}

.pTop40 {
    padding-top: 40px !important;
}

.pTop5 {
    padding-top: 5px !important;
}

.pTop6 {
    padding-top: 6px !important;
}

.pTop3 {
    padding-top: 3px;
}

.pTop7 {
    padding-top: 7px;
}

.pTop10 {
    padding-top: 10px;
}

.text11 {
    font-size: 11px;
}

.spacer3 {
    height: 3px;
}

.spacer5 {
    height: 5px;
}

.spacer7 {
    height: 7px;
}

.spacer10 {
    height: 10px;
}

.spacer15 {
    height: 15px;
}

.spacer20 {
    height: 20px;
}

.spacer23 {
    height: 23px;
}

.spacer25 {
    height: 25px;
}

.spacer30 {
    height: 30px;
}

.spacer33 {
    height: 33px;
}

.spacer35 {
    height: 35px;
}

.spacer40 {
    height: 40px;
}

.spacer45 {
    height: 45px;
}

.spacer50 {
    height: 50px;
}

.red {
    color: #f00;
}

.green {
    color: #17a345;
}

.f18 {
    font-size: 18px;
}

.noWrap {
    white-space: nowrap !important;
}

.pad6 {
    padding: 6px 0px;
}

.pad5 {
    padding: 5px;
}

.w125 {
    width: 125px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w225 {
    width: 225px;
}

.w100 {
    width: 100px;
}

.w300 {
    width: 300px;
}

.w400 {
    width: 400px;
}

.w80 {
    width: 80px;
}

.w75 {
    width: 75px;
}

.w70 {
    width: 70px;
}

.w60 {
    width: 60px;
}

.w50 {
    width: 50px;
}

.w25 {
    width: 25px;
}

.pT5 {
    padding-top: 5px;
}

.pT10 {
    padding-top: 10px;
}

.pR5 {
    padding-right: 5px !important;
}

.bold {
    font-weight: bold !important;
}

.txt9 {
    font-size: 13px;
    font-weight: normal;
}

.txt11 {
    font-size: 11px;
}

.form-group {
    margin-bottom: 10px;
}

header {
    background: #fff;
}

    header .linkText {
        padding-top: 14px;
        display: inline-block;
        font-size: 17px;
        color: #404040;
        font-weight: 600;
    }

        header .linkText:hover {
            color: #fb7310;
            text-decoration: none;
        }

        header .linkText img {
            padding-right: 2px;
        }

.navbar {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    background: #fff;
    height: 71px;
}

.panel-default > .panel-heading {
    cursor: pointer;
}

.panel-title {
    position: relative;
    font-weight: 600;
    font-size: 15px;
}

    .panel-title:before {
        content: "\f106";
        font-family: 'FontAwesome';
        position: absolute;
        right: 0;
        top: 0;
        color: #333;
        font-size: 17px;
    }

.panel-heading.collapsed .panel-title:before {
    content: "\f107";
}

.responsive .labelName {
    width: 260px;
    text-align: right;
    padding-right: 5px;
    padding-top: 8px;
    vertical-align: top;
    color: #333;
    font-weight: 600;
}

.responsiveModifiedClass .labelName {
    width: 260px;
    padding-right: 5px;
    padding-top: 8px;
    vertical-align: top;
    color: #333;
    font-weight: 600;
}

.responsive .fieldName {
    position: relative;
}

.responsive .labelName label {
    color: #333;
    font-weight: 600;
    margin: 0;
}

.fieldText {
    font-weight: 600;
    color: #1a6ab3;
    padding-top: 8px;
}

.pageTitle {
    font-size: 21px;
    color: #333;
    margin: 0px 0 15px;
}

/* .form-control {
    width: 192px;
    display: inline-block;
} */

.btn.btn-primary{
    background: #fb7310;
    border: 1px solid #da6610;
}

.light-gray-bg {
    background-color: #f6f6f6;
  }

.btn.btn_second, .btn_second {
    background: #60b9ca;
    padding: 5px 12px 5px 12px;
    height: auto !important;
    color: #fff !important;
    text-align: left;
    cursor: pointer;
    font: 600 15px 'Open Sans', sans-serif;
    border-radius: 4px;
    border: 1px solid #403d3d;
    text-decoration: none;
}

.btn.btn_grey {
    background: #333333;
    padding: 5px 12px 5px 12px;
    height: auto !important;
    color: #fff !important;
    text-align: left;
    cursor: pointer;
    font: 600 15px 'Open Sans', sans-serif;
    border-radius: 4px;
    border: 1px solid #333333;
    text-decoration: none;
}

.btn.btn_lg {
    padding: 6px 20px !important;
    font-size: 22px !important;
    margin-top: 20px;
}

.btn.btn_md {
    padding: 6px 10px !important;
    font-size: 16px !important;
}

.btn.btn_sm {
    padding: 3px 10px !important;
    font-size: 13px !important;
}

.btn.btn_xs {
    padding: 3px 10px !important;
    font-size: 14px !important;
}

.btn.btn_md i {
    font-size: 20px;
    vertical-align: top;
    padding: 1px 2px 0 0;
}

.font15 {
    font-size: 15px !important;
}

.close {
    position: absolute;
    background: transparent no-repeat scroll 0px 0px !important;   
    width: 31px;
    height: 31px;
    text-indent: -9999px;
    z-index: 999;
    right: 15px;
    opacity: 1;
}

    .close:focus {
        border: none !important;
    }

.modal-header {
    border-bottom: 1px solid #c7c7c7;
    border-radius: 6px 6px 0 0;
    background: #f3f3f3;
}

.modal-title {
    margin: 0px;
    color: #fb7310 !important;
    overflow: hidden !important;
}

.modal-header #form_heading {
    margin: 0px;
    padding-bottom: 0;
    font-weight: 600;
    font-size: 22px;
}

.modal-dialog {
    width: 1000px !important;
}

.nav_menu {
    padding-top: 10px;
    margin-right: 25px;
}
.red {
    color: #f00;
}

.green {
    color: #17a345;
}

.f18 {
    font-size: 18px;
}

.noWrap {
    white-space: nowrap !important;
}

.pad6 {
    padding: 6px 0px;
}

.pad5 {
    padding: 5px;
}

.w125 {
    width: 125px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w225 {
    width: 225px;
}

.w100 {
    width: 100px;
}

.w300 {
    width: 300px;
}

.w400 {
    width: 400px;
}

.w80 {
    width: 80px;
}

.w75 {
    width: 75px;
}

.w70 {
    width: 70px;
}

.w60 {
    width: 60px;
}

.w50 {
    width: 50px;
}

.w25 {
    width: 25px;
}

.pT5 {
    padding-top: 5px;
}

.pT10 {
    padding-top: 10px;
}

.pR5 {
    padding-right: 5px !important;
}

.bold {
    font-weight: bold !important;
}

.txt9 {
    font-size: 13px;
    font-weight: normal;
}

.txt11 {
    font-size: 11px;
}

.form-group {
    margin-bottom: 10px;
}

header {
    background: #fff;
}

    header .linkText {
        padding-top: 14px;
        display: inline-block;
        font-size: 17px;
        color: #404040;
        font-weight: 600;
    }

        header .linkText:hover {
            color: #fb7310;
            text-decoration: none;
        }

        header .linkText img {
            padding-right: 2px;
        }

.navbar {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    background: #fff;
    height: 71px;
}

.panel-default > .panel-heading {
    cursor: pointer;
}

.panel-title {
    position: relative;
    font-weight: 600;
    font-size: 15px;
}

    .panel-title:before {
        content: "\f106";
        font-family: 'FontAwesome';
        position: absolute;
        right: 0;
        top: 0;
        color: #333;
        font-size: 17px;
    }

.panel-heading.collapsed .panel-title:before {
    content: "\f107";
}

.responsive .labelName {
    width: 260px;
    text-align: right;
    padding-right: 5px;
    padding-top: 8px;
    vertical-align: top;
    color: #333;
    font-weight: 600;
}

.responsiveModifiedClass .labelName {
    width: 260px;
    padding-right: 5px;
    padding-top: 8px;
    vertical-align: top;
    color: #333;
    font-weight: 600;
}

.responsive .fieldName {
    position: relative;
}

.responsive .labelName label {
    color: #333;
    font-weight: 600;
    margin: 0;
}

.fieldText {
    font-weight: 600;
    color: #1a6ab3;
    padding-top: 8px;
}

.pageTitle {
    font-size: 21px;
    color: #333;
    margin: 0px 0 15px;
}


.btn.btn_grey {
    background: #333333;
    padding: 5px 12px 5px 12px;
    height: auto !important;
    color: #fff !important;
    text-align: left;
    cursor: pointer;
    font: 600 15px 'Open Sans', sans-serif;
    border-radius: 4px;
    border: 1px solid #333333;
    text-decoration: none;
}

.btn.btn_lg {
    padding: 6px 20px !important;
    font-size: 22px !important;
    margin-top: 20px;
}

.btn.btn_md {
    padding: 6px 10px !important;
    font-size: 16px !important;
}

.btn.btn_sm {
    padding: 3px 10px !important;
    font-size: 13px !important;
}

.btn.btn_xs {
    padding: 3px 10px !important;
    font-size: 14px !important;
}

.btn.btn_md i {
    font-size: 20px;
    vertical-align: top;
    padding: 1px 2px 0 0;
}

.font15 {
    font-size: 15px !important;
}

.close {
    position: absolute;
    background: transparent no-repeat scroll 0px 0px !important;   
    width: 31px;
    height: 31px;
    text-indent: -9999px;
    z-index: 999;
    right: 15px;
    opacity: 1;
}

    .close:focus {
        border: none !important;
    }

.modal-header {
    border-bottom: 1px solid #c7c7c7;
    border-radius: 6px 6px 0 0;
    background: #f3f3f3;
}

.modal-title {
    margin: 0px;
    color: #fb7310 !important;
    overflow: hidden !important;
}

.modal-header #form_heading {
    margin: 0px;
    padding-bottom: 0;
    font-weight: 600;
    font-size: 22px;
}

.modal-dialog {
    width: 1000px !important;
}

.nav_menu {
    padding-top: 10px;
    margin-right: 25px;
}

    .nav_menu li {
        display: inline-block;
        float: none;
    }

        .nav_menu li a, li.dropdown .dropdown-toggle {
            color: #333;
            font-weight: 600;
            padding: 10px 10px 17px 10px;
            margin-right: 10px;
            border-bottom: 4px solid transparent;
            font-size: 16px;
            cursor: pointer;
        }

        .nav_menu li.active a, .nav_menu li.active:hover a, .nav_menu li.active:focus a {
            border-bottom: 4px solid #fb7310;
            color: #fb7310;
            background: transparent;
        }

        .nav_menu li:hover a, .nav_menu li:focus a {
            color: #fb7310;
            background: transparent;
        }

    .nav_menu .dropdown-menu li {
        display: block;
    }

        .nav_menu .dropdown-menu li a, .nav_menu .dropdown-menu li a:hover, .nav_menu .dropdown-menu li a:focus {
            display: block;
            padding: 5px 10px;
            margin: 0;
            font-size: 14px;
            border: none;
        }

        .nav_menu .dropdown-menu li a {
            color: #333;
            cursor: pointer;
        }

.dropdown-menu li a:hover, .nav_menu .dropdown-menu li a:focus { display: block; padding: 5px 10px;margin: 0; font-size: 14px; border: none; color: #fb7310;}
.pop_scroll {   overflow-y: auto;   height: calc(100vh - 192px);}
hr.SylteForhr {  border: 2px solid black;  border-radius: 5px;}
.searchBtmLine span {display: block;  position: relative;
    left: 50%; top: -35px; margin-left: -15px; border-radius: 50px; background-color: #6c7d85; width: 30px; text-align: center; border-radius: 50%;  height: 30px;  font-size: 12px; line-height: 30px; text-transform: uppercase;color: #fff;}
.d-flex{display: flex;}
.justify-content-center{justify-content: center;}
.mb-15px{  margin-bottom: 15px;}
form.form {  margin-bottom: 20px;}
label.control-label {font-weight: 600; padding-bottom: 3px;}
.accordion-button:focus { border-color: unset !important;   box-shadow: unset !important;}
h2.head-h1 { background-color: #e7f1ff;padding: 8px 15px;font-size: 24px; font-weight: 600; margin-bottom: 30px;}
.px-12px{padding-left: 12px !important; padding-right: 12px !important;}
.form-control:focus { border-color: unset !important; box-shadow: unset !important;}
.modal-header { border-bottom: 1px solid #ddd; border-radius: 6px 6px 0 0; background: #3097f3; padding: 6px 15px 6px 15px !important;}
.modal-title{font-weight: 600;color: #fff !important;}
.table-container table{margin-bottom: 0px;}
  table { border-collapse: separate !important;border-spacing: 0;width: 100%; overflow: hidden; border: 1px solid #ddd; border-bottom: 0px !important;}
span.error-label {background-color: #e6000d;color: #fff;padding: 1px 5px 2px 5px;border-radius: 6px;font-size: 14px;}
table th { background-color:#f5f5f5!important; color: #333;  padding: 4px; border-right: 1px solid #ddd;}
table th:last-child { border-right: unset !important;}
table td {border: unset !important;}

 table tr td:last-child {border-right: unset !important;} 
/* table tr:last-child td { border-bottom: unset !important;}  */
  .tabel-sub-head {font-size: 16px; font-weight: 600;}
.modal-close { width: 20px;height: 20px;opacity: 1 !important;color: #333 !important;background-image: unset !important;line-height: 10px;right: 20px;top:13px}
.modal-close:hover {background: grey !important;  color: #fff !important;}
.btn-close:hover {box-shadow: unset !important;}

.word-wrap {word-wrap: break-word;}
.bg-light-blue {
    background-color: #f0f8ffb3;
}
.h-100vh{height:calc(100vh - -0.75rem);}
h2.text-center {
    font-size: 22px;
    font-weight: 600;
}
.w-70px{width: 70px;}
.grediant-bg {
    background-color:#e1f0fd ;
    width: 80px;
    margin: auto;
    padding: 3px 1px;
    border-radius: 50px;
    /* filter: grayscale(100%); */
}
.grediant-bg img{ padding: 9px;}
img.top-eye-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
}
.pt-100px{padding-top:100px;}
.table-striped>tbody>tr:nth-of-type(even)>* {
    background-color: #00000005 !important; /* Set background color for even rows */
  }
  
  .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #fff !important;
}

button.btn_cancel:hover {
    background-color: #e6e6e6 !important;
}
button.btn_cancel {
    background: #dcdcdc5e !important;
    font-weight: 500 !important;
    color: #333 !important;
    border: 1px solid #dcdcdc;
    padding: 1px 10px;
    border-radius: 4px;
}
.status-btn {
    background: transparent !important;
    color: #fb7310 !important;
    border: 1px solid #fb7310 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.bg-gray {
    background-color: #f3f3f3;
}
.btn-rounded-hover:hover {
    background-color: #e2e2e2;
    border-radius: 50%;
}
.btn_primary {
    background: #F26D21 !important;
}

.form-control,
.form-select,
.form-floating > .form-control {
  padding: 10px 10px !important;
  height: auto !important;
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}


.form-floating > .form-select {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}

.form-floating > .form-control {
  padding: 1rem 0.75rem;
}

.form-floating > .form-control, .form-floating > .form-select {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}


h2.card-head {
    font-size: 24px;
}

    .nav_menu li {
        display: inline-block;
        float: none;
    }

        .nav_menu li a, li.dropdown .dropdown-toggle {
            color: #333;
            font-weight: 600;
            padding: 10px 10px 17px 10px;
            margin-right: 10px;
            border-bottom: 4px solid transparent;
            font-size: 16px;
            cursor: pointer;
        }

        .nav_menu li.active a, .nav_menu li.active:hover a, .nav_menu li.active:focus a {
            border-bottom: 4px solid #fb7310;
            color: #fb7310;
            background: transparent;
        }

        .nav_menu li:hover a, .nav_menu li:focus a {
            color: #fb7310;
            background: transparent;
        }

    .nav_menu .dropdown-menu li {
        display: block;
    }

        .nav_menu .dropdown-menu li a, .nav_menu .dropdown-menu li a:hover, .nav_menu .dropdown-menu li a:focus {
            display: block;
            padding: 5px 10px;
            margin: 0;
            font-size: 14px;
            border: none;
        }

        .nav_menu .dropdown-menu li a {
            color: #333;
            cursor: pointer;
        }

.dropdown-menu li a:hover, .nav_menu .dropdown-menu li a:focus { display: block; padding: 5px 10px;margin: 0; font-size: 14px; border: none; color: #fb7310;}
.pop_scroll {   overflow-y: auto;   height: calc(100vh - 192px);}
hr.SylteForhr {  border: 2px solid black;  border-radius: 5px;}
.searchBtmLine span {display: block;  position: relative;
    left: 50%; top: -35px; margin-left: -15px; border-radius: 50px; background-color: #6c7d85; width: 30px; text-align: center; border-radius: 50%;  height: 30px;  font-size: 12px; line-height: 30px; text-transform: uppercase;color: #fff;}
.d-flex{display: flex;}
.justify-content-center{justify-content: center;}
.mb-15px{  margin-bottom: 15px;}
form.form {  margin-bottom: 20px;}
label.control-label {font-weight: 600; padding-bottom: 3px;}
.accordion-button:focus { border-color: unset !important;   box-shadow: unset !important;}
h2.head-h1 { background-color: #e7f1ff;padding: 8px 15px;font-size: 24px; font-weight: 600; margin-bottom: 30px;}
.px-12px{padding-left: 12px !important; padding-right: 12px !important;}
.form-control:focus { border-color: unset !important; box-shadow: unset !important;}
.modal-header { border-bottom: 1px solid #ddd; border-radius: 6px 6px 0 0; background: #3097f3; padding: 6px 15px 6px 15px !important;}
.modal-title{font-weight: 600;color: #fff !important;}
.table-container table{margin-bottom: 0px;}
span.error-label {background-color: #e6000d;color: #fff;padding: 1px 5px 2px 5px;border-radius: 6px;font-size: 14px;}
table th { background-color:#f5f5f5!important; color: #333;  padding: 4px; border-width: 0 !important;
    border-right: 1px solid #ddd !important;}
table th:last-child { border-right: unset !important;}
table td {border: unset !important;}
table tr td {  border-right: 1px solid #ddd !important;  border-bottom: 1px solid #ddd !important;  padding: 10px;  font-size: 14px;}
 table tr td:last-child {border-right: unset !important;} 
/* table tr:last-child td { border-bottom: unset !important;}  */
  .tabel-sub-head {font-size: 16px; font-weight: 600;}
.modal-close { width: 20px;height: 20px;opacity: 1 !important;color: #333 !important;background-image: unset !important;line-height: 10px;right: 20px;top:13px}
.modal-close:hover {background: grey !important;  color: #fff !important;}
.btn-close:hover {box-shadow: unset !important;}

.word-wrap {word-wrap: break-word;}
.bg-light-blue {background-color: aliceblue;}

  body {
    padding-bottom: 20px;
    font-family: "Avenir LT Std",sans-serif!important;
    overflow-x:hidden;
}

.dl-horizontal dt {
    white-space: normal;
}

.text-danger {
    color: #ff5252 !important;
  }

img {
    border: none;
}

.clear {
    clear: both; /*height: 1px;*/
}

.floatL {
    float: left;
}


.red {
    color: #f00;
}

.green {
    color: #17a345;
}

.f18 {
    font-size: 18px;
}

.noWrap {
    white-space: nowrap !important;
}

.pad6 {
    padding: 6px 0px;
}

.pad5 {
    padding: 5px;
}

.w125 {
    width: 125px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w225 {
    width: 225px;
}

.w100 {
    width: 100px;
}

.w300 {
    width: 300px;
}

.w400 {
    width: 400px;
}

.w80 {
    width: 80px;
}

.w75 {
    width: 75px;
}

.w70 {
    width: 70px;
}

.w60 {
    width: 60px;
}

.w50 {
    width: 50px;
}

.w25 {
    width: 25px;
}

.pT5 {
    padding-top: 5px;
}

.pT10 {
    padding-top: 10px;
}

.pR5 {
    padding-right: 5px !important;
}

.bold {
    font-weight: bold !important;
}

.txt9 {
    font-size: 13px;
    font-weight: normal;
}

.txt11 {
    font-size: 11px;
}

.form-group {
    margin-bottom: 10px;
}

header {
    background: #fff;
}

    header .linkText {
        padding-top: 14px;
        display: inline-block;
        font-size: 17px;
        color: #404040;
        font-weight: 600;
    }

        header .linkText:hover {
            color: #fb7310;
            text-decoration: none;
        }

        header .linkText img {
            padding-right: 2px;
        }

.navbar {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    background: #fff;
    height: 71px;
}

.body-content {
    padding: 15px;
}

.panel-default > .panel-heading {
    cursor: pointer;
}

.panel-title {
    position: relative;
    font-weight: 600;
    font-size: 15px;
}

    .panel-title:before {
        content: "\f106";
        font-family: 'FontAwesome';
        position: absolute;
        right: 0;
        top: 0;
        color: #333;
        font-size: 17px;
    }

.panel-heading.collapsed .panel-title:before {
    content: "\f107";
}

.responsive .labelName {
    width: 260px;
    text-align: right;
    padding-right: 5px;
    padding-top: 8px;
    vertical-align: top;
    color: #333;
    font-weight: 600;
}

.responsiveModifiedClass .labelName {
    width: 260px;
    padding-right: 5px;
    padding-top: 8px;
    vertical-align: top;
    color: #333;
    font-weight: 600;
}

.responsive .fieldName {
    position: relative;
}

.responsive .labelName label {
    color: #333;
    font-weight: 600;
    margin: 0;
}

.fieldText {
    font-weight: 600;
    color: #1a6ab3;
    padding-top: 8px;
}

.pageTitle {
    font-size: 21px;
    color: #333;
    margin: 0px 0 15px;
}

.btn.btn_grey {
    background: #333333;
    padding: 5px 12px 5px 12px;
    height: auto !important;
    color: #fff !important;
    text-align: left;
    cursor: pointer;
    font: 600 15px 'Open Sans', sans-serif;
    border-radius: 4px;
    border: 1px solid #333333;
    text-decoration: none;
}

.btn.btn_lg {
    padding: 6px 20px !important;
    font-size: 22px !important;
    margin-top: 20px;
}

.btn.btn_md {
    padding: 6px 10px !important;
    font-size: 16px !important;
}

.btn.btn_sm {
    padding: 3px 10px !important;
    font-size: 13px !important;
}

.btn.btn_smm {
    padding: 3px 10px !important;
    font-size: 10px !important;
}

.btn_cancel.btn_smm1 {
    padding: 3px 10px !important;
    font-size: 10px !important;
}

.btn.btn_xs {
    padding: 3px 10px !important;
    font-size: 14px !important;
}

.btn.btn_md i {
    font-size: 20px;
    vertical-align: top;
    padding: 1px 2px 0 0;
}

.font15 {
    font-size: 15px !important;
}

.close {
    position: absolute;
    background: transparent no-repeat scroll 0px 0px !important;   
    width: 31px;
    height: 31px;
    text-indent: -9999px;
    z-index: 999;
    right: 15px;
    opacity: 1;
}

    .close:focus {
        border: none !important;
    }

.modal-header {
    border-bottom: 1px solid #c7c7c7;
    border-radius: 6px 6px 0 0;
    background: #f3f3f3;
}

.modal-title {
    margin: 0px;
    color: #fb7310 !important;
    overflow: hidden !important;
}

.modal-header #form_heading {
    margin: 0px;
    padding-bottom: 0;
    font-weight: 600;
    font-size: 22px;
}

.modal-dialog {
    width: 1000px !important;
}

.nav_menu {
    padding-top: 10px;
    margin-right: 25px;
}

    .nav_menu li {
        display: inline-block;
        float: none;
    }

        .nav_menu li a, li.dropdown .dropdown-toggle {
            color: #333;
            font-weight: 600;
            padding: 10px 10px 17px 10px;
            margin-right: 10px;
            border-bottom: 4px solid transparent;
            font-size: 16px;
            cursor: pointer;
        }

        .nav_menu li.active a, .nav_menu li.active:hover a, .nav_menu li.active:focus a {
            border-bottom: 4px solid #fb7310;
            color: #fb7310;
            background: transparent;
        }

        .nav_menu li:hover a, .nav_menu li:focus a {
            color: #fb7310;
            background: transparent;
        }

    .nav_menu .dropdown-menu li {
        display: block;
    }

        .nav_menu .dropdown-menu li a, .nav_menu .dropdown-menu li a:hover, .nav_menu .dropdown-menu li a:focus {
            display: block;
            padding: 5px 10px;
            margin: 0;
            font-size: 14px;
            border: none;
        }

        .nav_menu .dropdown-menu li a {
            color: #333;
            cursor: pointer;
        }

.dropdown-menu li a:hover, .nav_menu .dropdown-menu li a:focus { display: block; padding: 5px 10px;margin: 0; font-size: 14px; border: none; color: #fb7310;}
.pop_scroll {   overflow-y: auto;   height: calc(100vh - 192px);}
hr.SylteForhr {  border: 2px solid black;  border-radius: 5px;}
.searchBtmLine span {display: block;  position: relative;
    left: 50%; top: -35px; margin-left: -15px; border-radius: 50px; background-color: #6c7d85; width: 30px; text-align: center; border-radius: 50%;  height: 30px;  font-size: 12px; line-height: 30px; text-transform: uppercase;color: #fff;}
.d-flex{display: flex;}
.justify-content-center{justify-content: center;}
.mb-15px{  margin-bottom: 15px;}
form.form {  margin-bottom: 20px;}
label.control-label {font-weight: 600; padding-bottom: 3px;}
.accordion-button:focus { border-color: unset !important;   box-shadow: unset !important;}
h2.head-h1 { background-color: #e7f1ff;padding: 8px 15px;font-size: 24px; font-weight: 600; margin-bottom: 30px;}
.px-12px{padding-left: 12px !important; padding-right: 12px !important;}
.form-control:focus { border-color: unset !important; box-shadow: unset !important;}
.modal-header { border-bottom: 1px solid #ddd; border-radius: 6px 6px 0 0; background: #3097f3; padding: 6px 15px 6px 15px !important;}
.modal-title{font-weight: 600;color: #fff !important;}
.table-container table{margin-bottom: 0px;}
span.error-label {background-color: #e6000d;color: #fff;padding: 1px 5px 2px 5px;border-radius: 6px;font-size: 14px;}
table th { background-color:#f5f5f5!important; color: #333;  padding: 4px; border-right: 1px solid #ddd;}
table th:last-child { border-right: unset !important;}
table td {border: unset !important;}
table tr td {  border-right: 1px solid #ddd !important;  border-bottom: 1px solid #ddd !important;  padding: 10px;  font-size: 16px;}
 table tr td:last-child {border-right: unset !important;} 
 table tr td { border-bottom: 1px solid #ddd !important} 


  .tabel-sub-head {font-size: 16px; font-weight: 600;}
.modal-close { width: 20px;height: 20px;opacity: 1 !important;color: #333 !important;background-image: unset !important;line-height: 10px;right: 20px;top:13px}
.modal-close:hover {background: grey !important;  color: #fff !important;}
.btn-close:hover {box-shadow: unset !important;}

.word-wrap {word-wrap: break-word;}
.bg-light-blue {
    background-color: #f0f8ffb3;
}
.h-100vh{height:calc(100vh - -0.75rem);}

h2.text-center {
    font-size: 22px;
    font-weight: 600;
}
.w-70px{width: 70px;}
.grediant-bg {
    background-color:#e1f0fd ;
    width: 80px;
    margin: auto;
    padding: 3px 1px;
    border-radius: 50px;
    /* filter: grayscale(100%); */
}
.pt-100px{padding-top:100px;}
.table-striped>tbody>tr:nth-of-type(even)>* {
    background-color: #00000005 !important; /* Set background color for even rows */
  }
  
  .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #fff !important;
}
h2.card-head {
    font-size: 24px;
}

/* Final css */
.heading-bottom-line::after, .heading-bottom-line::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 100%;
    height: 0.188rem;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.heading-bottom-line::before {
    width: 4.375rem;
    background: #242424;
    left: 0;
}
.heading-bottom-line::after { width: 4.375rem;background: #242424;left: 4.688rem;}
table tr td {  border-right: 1px solid #ddd !important;  border-bottom: 1px solid #ddd !important;  padding: 10px;  font-size: 14px;}
.header {
    box-shadow: 0 0px 6px #adadad;
}
.head-1 {
    font-size: 24px;
    font-weight: 600;
}
.btn-rounded-hover {
    border: 0;
    background: transparent;
}
.form-control, .form-select, .form-floating > .form-control {
    padding: 6px 7px !important;
}
  
.shadow-1 {
    box-shadow: 0px 0px 9px 0px #ddd;
}
.align-text-center{
    text-align: center;
}

.overflow-x-hidden { overflow-x: hidden;}

.dropdown-item.active, .dropdown-item:active {
    background-color: #f2f2f2 !important;
}

.bg-grey {
    background-color: #f5f5f5;
}

.offcanvas-header.bg-secondary {
    background-color: #3097f3 !important;
}

.text-muted {
    color: rgb(33 37 41 / 75%)
}